@tailwind base;
@tailwind components;
@tailwind utilities;

.hover_im{
    position: absolute;
    right: 12px;
    top: 240px;
    display: none;
}
.im_wrapper:hover > .hover_im {
    display: block;
}
.nav_im_in{
    display: none;
}
.nav_im_wrap:hover > .nav_im_in {
    display: block;
}

#radio_1:checked + label {
    border-color: black;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
