@tailwind base;
@tailwind components;
@tailwind utilities;
.owl-prev {
    color: white !important;
    font-size: 70px !important;
    position: absolute;
    top: 40%;
    left: 0;
}
.owl-next {
    color: white !important;
    font-size: 70px !important;
    position: absolute;
    top: 40%;
    right: 0;
}
